
<div class=".wrapper">
	<body style="background-color:white;">
	<ul id="listings-nav">
		<li>Gondolas •</li>
		<li>Mannequins •</li>
		<li>Pharmacy Displays •</li>
		<li>Security Mirrors •</li>
		<li>Shopping Carts And Baskets •</li>
		<li>Showcases •</li>
		<li>Slatwall And Accessories •</li>
		<li>Tags And Guns •</li>
		<li>Wire Baskets •</li>
		<li>Racks •</li>
		<li>Hangers •</li>
		<li>Gridwall </li>

	</ul>

	



	<ul id= "listings-index-table">
		<li>

		<table class="products" id="gondolas">
			<tr>
				<td class="col">
					<ul>
					<% @listings_gondolas.each do |listing| %>

		            	<li>
						<% if listing.pictures.first %>
		            	<!-- listing image pictures -->
		            	<%= link_to image_tag(listing.pictures.first.image), listing_path(listing) %>
						<p><%= listing.name %></p>
						<% else %>
		              		N/A
		            	<% end %>
						<%= link_to "Delete Section", listing, :method => :delete,
		                                  data: { confirm: "You sure?" } %>
		                <%= link_to "Edit Section", edit_listing_path(listing) %>


						<!-- Name, price and buttons -->
						
						</li>
						<% end %>
					</ul>
				</td>
			</tr>
		</table>
		</li>


	</ul>











	</body>


</div>