  <html>

<body>
<div id="listing-form" style="display:none;">

<%= link_to 'New Listing', new_listing_path, remote: true %>
</div>


<div class="container">
 <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "Glass_store.jpg", :class => "img-responsive" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Variety of all products!</h1>
                <h2> Willing to price match!</h2>
            <p>Contact us now for prices and inquiries!</p>
            <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""><p></p>
            <!-- <p><a class="btn btn-lg btn-primary" href="http://getbootstrap.com">Learn More</a> -->
          </p></pthis></div>
        </div>
      </div>
      <div class="item">
        <%= image_tag "Loreal_store.jpg", :class => 'img-responsive' %>
        <div class="container">
          <div class="carousel-caption">
            <h1>In business for over 20 years!</h1>
            <p>We will come to you!</p>
            <!-- <p><a id="purchase" class="btn btn-large btn-primary" href="#">Purchase</a></p> -->
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag "Convenience_store.jpg", :class => "img-responsive" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Call now!</h1>
            <p>Contact Bobby at 516.804.8057 OR 347.725.4935</p>
            <!-- <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
</div>
  <!-- /.carousel -->


    <ul id="front-table">
        <li><div><p><a href="#" id="explore-button">EXPLORE OUR PRODUCTS NOW</a></p></div></li>
 <!--        <li><div><p><a href="/listings">Mannequins</a></p></div></li>
        <li><div><p><a href="/listings">Pharmacy Display</a></p></div></li>
        <li><div><p><a href="/listings">Security Mirrors</a></p></div></li>
        <li><div><p><a href="/listings">Shopping Carts and Baskets</a></p></div></li>
        <li><div><p><a href="/listings">Showcase</a></p></div></li>
        <li><div><p><a href="/listings">Slatwall</a></p></div></li>
        <li><div><p><a href="/listings">Tags and Guns</a></p></div></li>
        <li><div><p><a href="/listings">Wire Baskets</a></p></div></li>
 -->
    </ul>


<!--  -->

<ul style="background-color:white; margin:0 auto; width:95%;" id="listings-nav">
    <li>Gondolas •</li>
    <li>Mannequins •</li>
    <li>Pharmacy Displays •</li>
    <li>Security Mirrors •</li>
    <li>Shopping Carts And Baskets •</li>
    <li>Showcases •</li>
    <li>Slatwall And Accessories •</li>
    <li>Tags And Guns •</li>
    <li>Wire Baskets •</li>
    <li>Racks •</li>
    <li>Hangers •</li>
    <li>Gridwall </li>

  </ul>




  <div id="footer-div">
      <p>A TO Z STORE FIXTURE CORP.</p>
      <p>All rights reserved</p>
      <p>516.804.8057</p>
  </div>

</body>
</html>
