<html>
<head>
  <title>A to Z Store Fixture</title>
  <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>

</head>
<body style="background-image: url('assets/484.jpg');
            background-repeat: no-repeat;
            background-size: cover;">

<div class="content">
    <ul id="header">
        <li id="logo-font">A TO Z STORE FIXTURES</li>
        <li class="phone-email">Contact Sales: 516.804.8057 OR 347.725.4935</li>
        <li class="phone-email">Email: A2ZSTOREFIXTURES@GMAIL.COM</li>
    </ul>

<div class="container">
 <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="assets/Glass_store.jpg" class="img-responsive">
        <div class="container">
          <div class="carousel-caption">
            <h1>Variety of all products!</h1>
                <h2> Willing to price match!</h2>
            <p>Contact us now for prices and inquiries!</p>
            <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""><p></p>
            <!-- <p><a class="btn btn-lg btn-primary" href="http://getbootstrap.com">Learn More</a> -->
          </p></pthis></div>
        </div>
      </div>
      <div class="item">
        <img  src="assets/Loreal_store.jpg" class="img-responsive">
        <div class="container">
          <div class="carousel-caption">
            <h1>In business for over 20 years!</h1>
            <p>We will come to you!</p>
            <!-- <p><a id="purchase" class="btn btn-large btn-primary" href="#">Purchase</a></p> -->
          </div>
        </div>
      </div>
      <div class="item">
        <img src="assets/Convenience_store.jpg"class="img-responsive">
        <div class="container">
          <div class="carousel-caption">
            <h1>Call now!</h1>
            <p>Contact Bobby at 516.804.8057 OR 347.725.4935</p>
            <!-- <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
</div>
  <!-- /.carousel -->


    <ul id="front-table">
        <li><div><p><a href="/listings">Gondola</a></p></div></li>
        <li><div><p><a href="/listings">Mannequins</a></p></div></li>
        <li><div><p><a href="/listings">Pharmacy Display</a></p></div></li>
        <li><div><p><a href="/listings">Security Mirrors</a></p></div></li>
        <li><div><p><a href="/listings">Shopping Carts and Baskets</a></p></div></li>
        <li><div><p><a href="/listings">Showcase</a></p></div></li>
        <li><div><p><a href="/listings">Slatwall</a></p></div></li>
        <li><div><p><a href="/listings">Tags and Guns</a></p></div></li>
        <li><div><p><a href="/listings">Wire Baskets</a></p></div></li>

    </ul>


</div>
</body>
</html>
