

body {
	background-image: url("http://i59.tinypic.com/11az693.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	 height: 100%;
    margin:0px;  
    text-align: center;
}

#listings-nav li {
	display: inline-block;
	font-family: 'AdelleSans-Thin';
	/*margin-right: 5px;*/
	/*margin-left: 5px;*/
	/*text-transform: up*/
}

.listings-show-lists li {
	display: inline-block;
}

.listings-show-lists li > a {
	color: black;
}

#listings-nav li:hover {
	cursor: pointer;
	color: #CC6601;
}

#security_mirrors-listings-show-pictures img {
	height: 150px;
	width: 200px;
	
}

#hangers-listings-show-pictures img {
	height: 150px;
	width: 200px;
	
}


#footer-div {
  background: #CC6601;
}

#footer-div p {
	font-size: 10px;
	font-family: 'AdelleSans-Thin';
	color: white;
}

#footer-div p:nth-child(1) {
	padding-top: 15px;
}

/*end sticky*/

#tags_and_guns > tbody > tr > td > ul > li > a:nth-child(1) > img {


}


.h1-headers {
	text-align: center;
	font-family: 'AdelleSans-Thin';
}

.h1-headers:hover {
	color: #911910;
}

#gondolas img {
	width: 400px;

}



#listings-index-table  {
	margin:0 auto;
	text-align: center;
	color: black;
	width: 100%;

}
#listings-index-table li {
	display: inline-block;
}

#listings-index-table img {
	height: 200;
	width: 200px;
	border: 7px solid #CC6601;
	border-radius: 600px;
}

#listings-index-table > li > a {
	color: black;
}







#listings-show-pictures li > img {

	height:400;
	width: 302px;
	/*margin-left: 10px;*/
	margin-bottom: 20px;

}




#listings-show-pictures li > img:hover {
	opacity: .8;

}

#listings-show-pictures  li {
	display: inline-block;



}


#listings-show-pictures {

	/*margin: 0 auto;*/
	/*margin-left: 100px;*/
	text-align: center;
}




#listings-details {
	margin: 0 auto;
	width: 40%;
	font-family: 'AdelleSans-Thin';
	/*margin-right: 210px;*/
	/*margin-top: 80px;*/
}


.line-separator{

padding:1px;

background:#E8E8E8;

border-bottom:.5px solid #E8E8E8;

}

ul {
	padding: 0px;
}


table {
  margin:0 auto;
  width: 100%;
}

.col ul {
  text-align: center;

}

.products {
	display: inline-block;
}


.products > tbody > tr > td > ul {
	list-style: none;

}

.products li {
	display: inline-block;
	margin: 30px;
	text-align: left;
}

.products li p {
	margin: 0px;
	font-size: 20px;
	text-align: center;
}

.products li a {
	font-size:14px;
	text-decoration: none;
	color: black;
	text-align: left;
	padding-top: 10px;
}

.products li a:hover {
	text-decoration: underline;

}

.products li img {
	/*height: 454;*/
	/*width: 302;*/
	margin-bottom: 15px;

}

.products li img:hover {
	opacity: .8;

}

#security_mirrors img {
	
}

.edit_picture a {
	color: black;
}

#images_ {
	margin: 0 auto;
}



ul {
	padding: 0px;
}



td {
	text-align: center;
	 	font-family: 'AdelleSans-Thin';

}

th {
 	/*font-family: 'AdelleSans-Thin';*/
 	/*font-weight: 600;*/
 	font-size: 12px;

}

.img-responsive {
	width: 100%;
}

#footer-div {

  height: 100px;
  width: 100%;


}

@media (max-width: 1362px) {
  	#explore-button {
  		font-size: 20px;
  	}

  	.phone-email {
  		font-size: 10px;
  	}

}

@media (max-width: 1000px) {

 	#footer-div {
  		margin-top: 500px;
  		/*height: 20px;*/
  	}

  	.container {
  		margin-top: 340px;
  	}
}