	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "application" %>

<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
  <title>A TO Z STORE FIXTURE</title>
  
</head>

<body>
	


	  <ul id="header">
        <li id="logo-font"><a style="text-decoration:none;" href="/">A TO Z STORE FIXTURES</a></li>
        <li class="phone-email">Contact Sales: 516.804.8057 OR 347.725.4935</li>
        <li class="phone-email">Email: A2ZSTOREFIXTURES@GMAIL.COM</li>
    </ul>




<%= yield %>


	<footer class="site-footer">
  		<p>A TO Z STORE FIXTURE CORP.</p>
  		<p>All rights reserved</p>
  		<p>516.804.8057</p>
	</footer>

</body>



</html>
